<mat-card fxFlex>
    <mat-card-title>Cadastro de Cursos</mat-card-title>
    
    <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="space-between">
            <mat-form-field>
                <input matInput [(ngModel)]="nomeCurso">
                <mat-hint>Nome do curso</mat-hint>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="end end">
                <button mat-button color="primary" (click)="salvar()">Salvar</button>
                <button mat-button color="warn" (click)="cancelar()">Cancelar</button>
            </div>
        </div>

        <mat-list>
            <h3 mat-subheader>Cursos</h3>
            <mat-list-item *ngFor="let curso of cursos">
                <mat-icon mat-list-icon>class</mat-icon>
                <h4 mat-line>{{ curso.nome }}</h4>
                <!-- 
                <button mat-icon-button color="accent" (click)="deletar(curso)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="editar(curso)">
                    <mat-icon>edit</mat-icon>
                </button>
                -->
            </mat-list-item>
        </mat-list>


    </mat-card-content>
</mat-card>